[submodule "Pico"]
	path = Pico
	url = https://github.com/picocms/Pico.git
[submodule "Pico-Categorized-Pages"]
	path = Pico-Categorized-Pages
	url = https://github.com/RichardMN/Pico-Categorized-Pages.git
