[submodule "Pico"]
	path = Pico
	url = https://github.com/picocms/Pico.git
[submodule "Pico-Categorized-Pages"]
	path = Pico-Categorized-Pages
	url = https://github.com/RichardMN/Pico-Categorized-Pages.git
[submodule "pico_multilanguage"]
	path = pico_multilanguage
	url = https://github.com/RichardMN/pico_multilanguage.git
[submodule "Pico-Hide"]
	path = Pico-Hide
	url = https://github.com/ufgum/Pico-Hide.git
